@use "../../themes/colors" as c;

.task {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  svg {
    cursor: pointer;
    fill: c.$gray;
  }
}

.input {
  display: flex;
  align-items: center;

  label {
    cursor: pointer;
  }
}

.checkbox {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}
