.button {
  width: 125px;
  height: 40px;
  background: #eb5757;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  gap: 5px;
  margin-left: auto;
  cursor: pointer;
}
